<h1>Create A Event</h1>
<p>Event Name </p> <input type="text" id="eventName">

<p>Custom Event Code (Optional) </p> <input type="text" id="eventCode">

<!-- TO-DO GET DATE TO SHOW A CALANDER POPUP --> 
<p>Date</p> <input type="date" id="eventDate">
